<!-- Web.Config Configuration File -->
<configuration>
  <connectionStrings>
    <add name="commentListConnectionString" connectionString="************************************************************************************************"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".wav" mimeType="audio/wav" />
      <mimeMap fileExtension=".zip" mimeType="application/x-zip-compressed" />
    </staticContent>
  </system.webServer>
</configuration>
